{# j2lint: disable=jinja-statements-indentation,jinja-statements-delimiter #}
version: 2
ethernets:
  {{ interface }}:
    {% if static_ip and gateway %}
    dhcp4: false
    addresses:
      - {{ static_ip }}
    gateway4: {{ gateway }}
    nameservers:
      addresses:
        {% for ns in nameservers %}
        - {{ ns }}
        {% endfor %}
    {% else %}
    dhcp4: true
    {% endif %}
